body {
  padding: 0;
  margin: 0;
  background: rgba(244 245 248);
}

body {
  font-family: "PingFang SC", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
  font-weight: 400; /* 设置字重，400 是常规字重 */
}
